.search-form {
    padding: 20px;
    text-align: center;
}

.search-form input,
.search-form button {
    font-size: 13px;
    padding: 5px;
}

.t-search-result {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.t-preview {
    padding-right: 20px;
    width: 210px;
}

.show-descr {
    font-size: 12px;
}